.counties {
  fill: none;
  // stroke: #fff;
  // stroke-width: 0.5px;
  path {

    // opacity: 0.25;
    // stroke: black;
    // stroke-width: 0.5px;
  }
}

.gig-county-highlight {
  .counties path {opacity: 0.25}
  .counties .us-county-highlight {
    opacity: 1; 
  }
}


.map-legend {
  margin-left: 2em;
}

svg {
  display: block;
  margin: 0 auto;
}

.states {
  fill: none;
  // opacity: 0.15;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 2px;
}


.aquifer {
    // fill: none;
  // stroke: rgba(69,117,180,1);
  opacity: 0.75;
}

#sphere {
  fill: none;
}

#mapboxmap {
    height: 400px;
    width: 900px;
}

.counties path.county-active {
  stroke: white;
  stroke-width: 1px;
  z-index: 100;
}

#details {
  display: none;
}

.country-shape {
  fill: rgba(255, 255, 255, 0.21);
  stroke: white;
  stroke-width: 1px;
}

#india-map {
  background: black;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 1;
}

.gig-tooltip {
  background: rgba(0, 0, 0, 1);
  border-radius: 8px;
  border: solid 1px white;
  color: white;
  padding: 0.5em;
  position: absolute;
  transform: translate(-50%, -100%);
  // width: 200px;
  p { 
    color: white;
    margin: 0;
  }
}

.q0-9 { fill:#d73027; }
.q1-9 { fill:#f46d43; }
.q2-9 { fill:#fdae61; }
.q3-9 { fill:#fee08b; }
.q4-9 { fill:#ffffbf; }
.q5-9 { fill:#d9ef8b; }
.q6-9 { fill:#a6d96a; }
.q7-9 { fill:#66bd63; }
.q8-9 { fill:#1a9850; }

