//@import "base/fonts";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#gig-slider {
	position: relative;
	z-index: 1;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

.gig-slider.gig-map-slider {
    position: absolute;
    width: 100%;
    .gig-slider-panel-text-container {
      position: static;
      top: auto;
      left: auto;
      transform: none;
    }
  .gig-slider-panel {
      height: auto;
  }
}



.gig-slider {

  &-panel {
    position: relative;
    width: 100%;
    //background-color: blue;
    z-index: 6;
    &-text-container {
      position: absolute;
      top: 50%;
      left: 15%;
      color: #ffffff;
      font-family: 'Futura Today Light', sans-serif;
      font-size: 4em;
      transform: translateY(-50%);
      z-index: 800;
    }
  }
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
    z-index: 5;
    opacity: 0;
    &:first-child {
      opacity: 1;
    }
    &.fixed {
      position: fixed;
    }
  }
}

.gig-slider-panel {
  // height: 800px;
  width: 100%;
}


/* map */

.gig-map {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    &:first-child {
      opacity: 1;
    }
    &.fixed {
      position: fixed;
    }
    &.bottom {
      top: auto;
    }
  }

.counties {
  fill: none;
  path {
  }
}

.gig-county-highlight {
  .counties path {opacity: 0.25}
  .counties .us-county-highlight {
    opacity: 1; 
  }
}


.map-legend {
  bottom: 0;
  color: white;
  position: absolute;
  right: 0;
  // margin-left: 2em;
}

svg {
  display: block;
  margin: 0 auto;
}

.states {
  fill: none;
  // opacity: 0.15;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 2px;
}


.aquifer {
    // fill: none;
  // stroke: rgba(69,117,180,1);
  opacity: 0.75;
}

#sphere {
  fill: none;
}

#mapboxmap {
    height: 400px;
    width: 900px;
}

.counties path.county-active {
  stroke: white;
  stroke-width: 1px;
  z-index: 100;
}

#details {
  display: none;
}

.country-shape {
  fill: rgba(255, 255, 255, 0.21);
  stroke: white;
  stroke-width: 1px;
}

#india-map {
  background: black;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 1;
}

.gig-tooltip {
  background: rgba(0, 0, 0, 1);
  border-radius: 8px;
  border: solid 1px white;
  color: white;
  padding: 0.5em;
  position: absolute;
  transform: translate(-50%, -100%);
  // width: 200px;
  p { 
    color: white;
    margin: 0;
  }
}

.q0-9 { fill:#d73027; }
.q1-9 { fill:#f46d43; }
.q2-9 { fill:#fdae61; }
.q3-9 { fill:#fee08b; }
.q4-9 { fill:#ffffbf; }
.q5-9 { fill:#d9ef8b; }
.q6-9 { fill:#a6d96a; }
.q7-9 { fill:#66bd63; }
.q8-9 { fill:#1a9850; }

