Fiona==1.6.2
SQLAlchemy==1.0.9
appnope==0.1.0
click==5.1
click-plugins==1.0.2
cligj==0.3.0
csvkit==0.9.1
dbf==0.94.003
decorator==4.0.4
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
jdcal==1.0
openpyxl==2.2.0-b1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
python-dateutil==2.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
wsgiref==0.1.2
xlrd==0.9.4
