
/* map */



.gig-tooltip {
  max-width: 300px;
}



.counties path.county-active {
  stroke: white;
  stroke-width: 1px;
  z-index: 100;
}


.country-shape {
  // fill: rgba(255, 255, 255, 0.21);
  stroke: white;
  stroke-width: 1px;
}

