/**
 * Fonts
 */
@font-face {
  font-family: 'Futura Today Light';
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.eot") format("eot");
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.woff") format("woff"), url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.ttf") format("truetype"), url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_light.svg") format("svg");
  font-weight: 100; }
@font-face {
  font-family: 'Futura Today Normal';
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.eot") format("eot");
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.woff") format("woff"), url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Futura Today Demibold';
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.eot") format("eot");
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.woff") format("woff"), url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Futura Today Bold';
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_bold.eot") format("eot");
  src: url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_bold.woff") format("woff"), url("http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_bold.ttf") format("truetype");
  font-weight: 700; }
/**
 * Colors
 */
/**
 * Framework Overrides
 */
.longform-content .oembed-asset,
.longform-content .story-oembed-wrap,
.story-oembed {
  display: block;
  max-width: 100% !important; }

.story-oembed {
  width: auto !important; }

/**
 * The .gig-embed class
 */
.gig-embed * {
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */ }

.gig-embed {
  left: 0;
  position: absolute;
  font-weight: normal;
  font-family: "Futura Today Normal", Arial,sans-serif; }
  .gig-embed h1, .gig-embed h2, .gig-embed h3, .gig-embed h4, .gig-embed h5, .gig-embed h6 {
    font-family: "Futura Today Bold", Arial,sans-serif; }
  .gig-embed .chatter {
    font-size: 1em;
    margin: 0 auto 2em auto;
    max-width: 30em; }
  .gig-embed .page-header {
    font-size: 1.2em;
    margin: 0.5em 0;
    text-transform: uppercase; }
    @media (min-width: 1100px) {
      .gig-embed .page-header {
        font-size: 2em; } }
  .gig-embed .detail-header {
    font-family: "Futura Today DemiBold", Arial,sans-serif; }
  .gig-embed .info-text {
    max-width: 30em;
    margin: 0 auto; }
  .gig-embed strong {
    font-family: "Futura Today Bold", Arial,sans-serif; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

.gig-embed {
  background: black;
  left: 0; }

#gig-slider {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #ccc;
  overflow: hidden; }

.gig-slider.gig-map-slider {
  position: absolute;
  width: 100%; }
  .gig-slider.gig-map-slider .gig-slider-panel-text-container {
    position: static;
    top: auto;
    left: auto;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    transform: none; }
  .gig-slider.gig-map-slider .gig-slider-panel {
    height: auto; }

.gig-embed h3.gig-title {
  color: #FFCB00;
  font-family: "Futura Today Light", Arial, sans-serif;
  font-size: 2.5em;
  margin: 1em auto 0 auto;
  text-align: center; }
  @media (max-width: 800px) {
    .gig-embed h3.gig-title {
      font-size: 1.5em; } }
  .gig-embed h3.gig-title:after {
    content: "";
    display: block;
    border-bottom: solid 1px white;
    margin: 10px auto;
    width: 100px; }

.gig-slider-panel {
  position: relative;
  width: 100%;
  z-index: 6; }
  .gig-slider-panel-text-container {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #ffffff;
    font-family: 'Futura Today Light', sans-serif;
    font-size: 1.75em;
    text-align: center;
    margin-top: 0;
    max-width: 28em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    transform: translateY(-50%);
    z-index: 800; }
    @media (max-width: 800px) {
      .gig-slider-panel-text-container {
        font-size: 1.25em; } }
.gig-slider-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
  z-index: 5;
  opacity: 0; }
  .gig-slider-background:first-child {
    opacity: 1; }
  .gig-slider-background.fixed {
    position: fixed; }

.gig-slider-panel {
  margin: 0 auto;
  max-width: 800px;
  width: 90%; }

/* map */
.gig-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  backface-visibility: hidden; }
  .gig-map:first-child {
    opacity: 1; }
  .gig-map.fixed {
    position: fixed; }
  .gig-map.bottom {
    top: auto; }

.map-legend {
  bottom: 0;
  color: white;
  font-family: "Futura Today Light", Arial, sans-serif;
  padding: 10px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0); }
  .map-legend p {
    color: white; }

.gig-legend-entry {
  display: inline-block;
  max-width: calc(25% - 2px);
  text-align: center; }

.gig-legend-entries {
  margin-top: 10px; }

.gig-legend-color {
  display: block;
  height: 12px;
  margin: 5px 1px;
  max-width: 100%;
  width: 50px; }

.gig-progress-indicator-wrap {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%); }

.gig-progress-entry {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 5px 0;
  height: 10px;
  width: 10px; }
  .gig-progress-entry.gig-progress-current {
    background: white; }

svg {
  display: block;
  margin: 0 auto; }

.triangle:after, .gig-tooltip:after {
  border-top: solid 10px white;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0; }

.gig-tooltip {
  background: white;
  border: solid 1px white;
  color: black;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.22));
  font-family: "Futura Today Light", Arial, sans-serif;
  padding: 0.5em;
  position: absolute;
  transform: translate(-50%, -100%); }
  .gig-tooltip p {
    color: black;
    margin: 0; }

/*# sourceMappingURL=gig-styles.css.map */
