.longform-content .oembed-asset, .longform-content .story-oembed-wrap, .story-oembed {
    display: block;
    max-width: 100% !important;
}

.story-oembed {
    width: auto !important;
}

.gig-embed {
    left: 0;
    position: absolute;
}
