//@import "base/fonts";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#gig-slider {
  position: absolute;
  left: 0;
	z-index: 1;
  height: 100%;
	width: 100%;
	background: #ccc;
	overflow: hidden;
  #gig-slider-panel-text-container-2 {
    color: #F5AB00 !important;
  }
}
.gig-embed {
  width: 100%;
}

.gig-slider {
  &-panel {
    position: relative;
    height: 100%;
    width: 100%;
    &-text-container {
      color: #ffffff;
      font-family: 'Futura Today Light', sans-serif;
      font-size: 2.2em;
      @media(max-width: 800px) {
        font-size: 1.5em;
      }
    }
  }
  &-background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover !important;
    background-size: 100%;
    z-index: -1;
    opacity: 0;
    &:first-child {
      // opacity: 1;
    }
  }
}

.gig-image-slider {
  margin: 0 auto;
  // max-width: 600px;
  position: relative;

  .gig-slider-background-container {
    margin: 0 auto;
    // max-width: 1200px;
  }

  .gig-slider-background {
    opacity: 0;
    transition: opacity 500ms ease;
    &.gig-slider-active-background {
      opacity: 1;
    }
  }

  .gig-slider-background-image {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }

  .gig-slider-panel-text-container {
    // bottom: 0;
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    left: 50%;
    margin: 0 auto;
    max-width: 600px;
    position: absolute;

    top: 50%;
    transform: translate(-50%, -50%);
    &.gig-slider-dark-text {
      color: black;

    }
  }
}

.gig-slider-panel {
  height: 800px;
  width: 100%;
}

.gig-progress-indicator-wrap {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.gig-progress-entry {
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin: 5px 0;
  height: 10px;
  opacity: 0.25;
  width: 10px;

  &.gig-progress-current {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
  }
}

.gig-slider-source {
  margin: 0 auto;
  max-width: 600px;
  transform: translateY(-100%);
  width: 90%;
}
