//@import "base/fonts";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#gig-slider {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gig-slider-panel {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &:first-child,
  &.active {
    top: 0;
  }

  &-text-container {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #ffffff;
    font-family: 'Futura Today Light', sans-serif;
    font-size: 4em;
    transform: translateY(-50%);
  }
}
