//@import "base/fonts";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.gig-slider-panel {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

#gig-slider-panel-1 {
  background-image: url(../img/unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gig-slider {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
