#gig-global-map.gig-slider.gig-map-slider .gig-slider-panel-text-container {
  font-size: 1.2em;
  margin: 0 auto;
}

.country-shape {
  fill: rgba(255, 255, 255, 0.21);
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 0.25px;
}


.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 1;
}

#gig-global-map .stroke {
  fill: none;
  stroke: white;
  stroke-width: 0.5px;
}

#sphere {
  fill: none;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: 1;
}

.q0-9 { fill:#d73027; }
.q1-9 { fill:#f46d43; }
.q2-9 { fill:#fdae61; }
.q3-9 { fill:#fee08b; }
.q4-9 { fill:#ffffbf; }
.q5-9 { fill:#d9ef8b; }
.q6-9 { fill:#a6d96a; }
.q7-9 { fill:#66bd63; }
.q8-9 { fill:#1a9850; }