.counties {
  fill: none;
  path {
  }
}

.gig-county-highlight {
  path {opacity: 0.1}
  .us-county-highlight {
    opacity: 1; 
  }
}
.gig-step-3 {
  .gig-line-chart {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .gig-county-highlight {
    path {opacity: 0.1}
    .us-county-highlight {
      opacity: 0.5; 
    }
  }
}

.gig-step-3-label {
  opacity: 0;
  transition: opacity 500ms ease;
}

.gig-step-3-highlight {
    .gig-county-highlight path, .us-county-highlight {
      opacity: 0.1;
    }
    .gig-step-3-highlight-item {
      opacity: 1;
      stroke: white;
      stroke-width: 0.5
    }

    .gig-step-3-label {
      opacity: 1;
    }
}




.states {
  fill: none;
  // opacity: 0.15;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 2px;
}


.aquifer {
    // fill: none;
  // stroke: rgba(69,117,180,1);
  opacity: 0.75;
}

#sphere {
  fill: none;
}

#mapboxmap {
    height: 400px;
    width: 900px;
}

.counties path.county-active {
  stroke: white;
  stroke-width: 1px;
  z-index: 100;
}

#details {
  display: none;
}

.country-shape {
  fill: rgba(255, 255, 255, 0.21);
  stroke: white;
  stroke-width: 1px;
}

/******

line chart styles

******/

.axis {
  path,
    line {
        fill: none;
        stroke: #ccc;
        shape-rendering: crispEdges;
    }
}

.q0-9 { fill:#d73027; }
.q1-9 { fill:#f46d43; }
.q2-9 { fill:#fdae61; }
.q3-9 { fill:#fee08b; }
.q4-9 { fill:#ffffbf; }
.q5-9 { fill:#d9ef8b; }
.q6-9 { fill:#a6d96a; }
.q7-9 { fill:#66bd63; }
.q8-9 { fill:#1a9850; }

